
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Principal.cshtml";
}

<h1>Ingreso de actividades docentes<small>Perfil Docentes.</small></h1>
<hr>
@{Html.RenderAction("_cabecerasCarreras", "Visualizador");}
<hr>