@{
    ViewData["Title"] = "Map";
    Layout = "~/Views/Shared/_MapLayout.cshtml";
}
<div class="tableu">
    <div class="Dashbord box-body no-padding" style="margin-top:10px">
        <div id="vizContainer" style="width:800px; height:400px;  padding-left: 1%;"></div>
        <div class="clearfix"></div>
        <div class='tableauPlaceholder' style='width: 1000px; height: 700px;'>
            <object class='tableauViz' width='1000' height='850' style='display:none;'>
                <param name='host_url' value='https%3A%2F%2Fus-west-2b.online.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='&#47;t&#47;mardis' />
                <param name='name' value='test21&#47;Dashboard1_1' /><param name='tabs' value='yes' /><param name='toolbar' value='yes' /><param name='showAppBanner' value='false' />
                <param name='filter' value='iframeSizedToWindow=true' />
            </object>
        </div>

    </div>
</div>
@section Scripts {
    <script type="text/javascript">




        initViz1('https://public.tableau.com/views/OBRAS_UE_04062018/Obras?:embed=y&:display_count=yes');


        var viz;

        function initViz1(dashboard) {
            var win = '1250px';
            var hi = '700px'
            if (screen.width < 1100) { win = '1200px'; dashboard = 'https://public.tableau.com/views/OBRAS_UE_04062018/Obras?:embed=y&:display_count=yes' }
            if (screen.width > 1200) { win = '1450px'; hi = '900px'; dashboard = dashboard }
            if (screen.width > 1800) { win = '1950px'; hi = '900px'; dashboard = 'https://public.tableau.com/views/OBRAS_UE_04062018/Obras?:embed=y&:display_count=yes' }



            var containerDiv = document.getElementById("vizContainer"),
                url = dashboard,
                options = {
                    hideTabs: true,
                    width: win,
                    height: hi
                };

            if (viz) {
                viz.dispose();
            }
            viz = new tableau.Viz(containerDiv, url, options);
            // Create a viz object and embed it in the container div.
        }
    </script>
}
