
@{
    ViewData["Title"] = "Map";
    Layout = "~/Views/Shared/_LayaoutGeo.cshtml";
}

<div class="content-ini">
   
    <img src="~/images/logo_mardis.png"  style=" width: 180px"/>
</div>
       

     @section Scripts {
        <script type="text/javascript"> (function () {
                // your page initialization code here
                // the DOM will be available here
                myFunction()

            })();
        function myFunction()

    {
        $('#idf').attr('src', $('#urs').val());
    }

    </script >
    }
