<configuration>
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false"/>
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.5" />

    <globalization
      fileEncoding="utf-8" 
      requestEncoding="utf-8" 
      responseEncoding="utf-8"
      culture="es-E"
      uiCulture="de-DE"
    />
 
  </system.web>

  <connectionStrings>
    <add name="MardisGEOEntities" connectionString="metadata=res://*/base.MardisGEO.csdl|res://*/base.MardisGEO.ssdl|res://*/base.MardisGEO.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:mardisenginetestbd.database.windows.net;initial catalog=MardisGEO;user id=mardisengine;password=Mard!s3ngin3;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <system.webServer>
    <handlers>
      <add name="Browser Link for HTML" path="*.html" verb="*"
           type="System.Web.StaticFileHandler, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
           resourceType="File" preCondition="integratedMode" />
    </handlers>
  </system.webServer>

</configuration>
