<configuration>


  <connectionStrings>
    <add name="MardisGEOEntities" connectionString="metadata=res://*/base.GeoMardis.csdl|res://*/base.GeoMardis.ssdl|res://*/base.GeoMardis.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:mardisenginetestbd.database.windows.net;initial catalog=MardisGEO;user id=mardisengine;password=Mard!s3ngin3;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MardisGEOEntitiesNew" connectionString="metadata=res://*/base.MardisGeo.csdl|res://*/base.MardisGeo.ssdl|res://*/base.MardisGeo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:mardisenginetestbd.database.windows.net;initial catalog=MardisGEO;user id=mardisengine;password=Mard!s3ngin3;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
</configuration>
